{% extends "layout.html" %}

{% block body %}
<main>

    <button id="speech_btn">SPEECH</button>
    <button id="synthesis">Synthesis</button>

    <div id="speech_out">

    </div>
    <div id="peer_here">
        <div>
            <label>Name:</label>
            <input type="text" id="username">
        </div>
        <p id="my-id"></p>
        <video id="my-video" width="100%" autoplay muted playsinline></video>
        <div id="output"></div>

    </div>

    <hr>
    
    <div id="peer_there">
        <input type="text" id="their-id">
        <button id="make-call">発信</button>
        <video id="their-video" width="100%" autoplay muted playsinline style="border:solid 1px"></video>
    </div>  
</main>
{% endblock %}
