<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Document</title>
</head>
<body>

    <header>

    </header>
    {% block body %}

    {% endblock %}
    <footer>
        
    </footer>

</body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>  
<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-database.js"></script>

<script src="https://cdn.webrtc.ecl.ntt.com/skyway-1.1.18.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="static/js/skyway.js"></script>
<script src="static/js/firebase.js"></script>
<script src="static/js/speechRecognition.js"></script>
</html>